body {
  padding-top: 20px;
}

#flash_notice {
  @extend .alert !optional;
  @extend .alert-success !optional;
}
#flash_error, #flash_alert {
  @extend .alert !optional;
  @extend .alert-danger !optional;
}
#flash_warning {
  @extend .alert !optional;
  @extend .alert-warning !optional;
}

.navbar .right-buttons {
  margin-right: 15px;
  margin-left: 25px;
}